{% extends 'base.html.twig' %}

{% from 'MopaBootstrapBundle::flash.html.twig' import session_flash %}

{% block title %}phpBB Extensions by Paul Sohier{% endblock title %}
{% block page_header %}{% endblock page_header %}

{% block content %}
    <div class="col-lg-8">
        <div class="hero-unit">
            <h2>{% block headline %}phpBB Extensions by Paul Sohier{% endblock %}</h2>
            <p>
                On this site you can find all extensions I made for phpBB 3.1 and later. Support for extensions is provided at phpBB.com (Except for Paid extensions).
                All free extensions have basic support. Paid extensions have extended support by email (Provided to buyers). All extensions on this site are released under the GPL-V2.
            </p>
        </div>
        <h2>Free extensions</h2>
        <div class="row">
            <div class="col-lg-6">
                <h3>Ajax Shoutbox</h3>
                <p>A very simple shoutbox using modern style javascript for your forum.</p>
                <p><strong>Status:</strong> Released, version 1.0.2</p>

                <p><a class="btn btn-success btn-lg" href="https://www.phpbb.com/customise/db/extension/ajax_shoutbox/" role="button">Download & Support</a></p>
            </div>

            <div class="col-lg-6">
                <h3>phpBB two factor authentication</h3>
                <p>This extension adds support for two factor authentication when logging in.</p>
                <p><Strong>Status:</Strong> In development, version 0.0.1</p>
                <p><a class="btn-warning btn-lg" href="https://www.phpbb.com/community/viewtopic.php?f=456&t=2341856" role="button">Download & Support</a></p>
            </div>
            
            <div class="col-lg-6">
                <h3>Simple mentions</h3>
                <p>Simple extension that allows users to mention another user to get their attention. Supports any type of notification available within phpBB, and has support for permissions to use the mention system.</p>
                <p><Strong>Status:</Strong> In development, no download yet</p>
                <p><a class="btn-warning btn-lg" href="https://www.phpbb.com/community/viewtopic.php?f=456&t=2393186" role="button">Download & Support</a></p>
            </div>

            <div class="col-lg-6">
                <h3>Browser notifications</h3>
                <p>This extension adds a new notification type that uses browser notification to delivery notifications.</p>
                <p><Strong>Status:</Strong> In development, no download yet</p>
                <p><a class="btn-warning btn-lg" href="https://www.phpbb.com/community/viewtopic.php?f=456&t=2355286" role="button">Download & Support</a></p>
            </div>
        </div>
        <!--
        <h2>Paid extensions</h2>
        <div class="row">
            <div class="col-lg-6">
            </div>
            <div class="col-lg-6">
            </div>
        </div>-->
        <h2>Custom phpBB work</h2>
        <p>
            If you need any custom work done for your phpBB forum you can contact me at paul [at] phpbbextensions [dot] io.
            I do phpBB installations, extenion installation and extension development.
        </p>
        <ul>
            <li>simple installation: €45</li>
            <li>extension installation and configuration: €25</li>
            <li>Custom development: By hour (€25-35) or project based</li>
        </ul>
        <p>All prices are in euro, and to be paid with paypal.</p>
    </div>
    <div class="col-lg-4">
        <div class="hero-unit advertising high">
            <h2>Advertising</h2>
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- phpbbextensions.io -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-8143076188868011"
                 data-ad-slot="2640788055"
                 data-ad-format="auto"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    </div>
{% endblock content %}
